./*.toc
./*.aux
./*.log
./*.out
./*.gz
./*.pdf

./appendix/*.toc
./appendix/*.aux
./appendix/*.log
./appendix/*.out
./appendix/*.gz
./appendix/*.pdf

./chapters/*.toc
./chapters/*.aux
./chapters/*.log
./chapters/*.out
./chapters/*.gz
./chapters/*.pdf

./ext_sections/*.toc
./ext_sections/*.aux
./ext_sections/*.log
./ext_sections/*.out
./ext_sections/*.gz
./ext_sections/*.pdf
